[Unit]
Description = Homeiot API Server to register the BME280 peripherals measurement data into database.
Requires = docker.service

[Service]
Environment=COMPOSE_FILE=/home/iot/userdata/homeiot-api-quarkus/docker-compose.yaml
ExecStart = /usr/bin/sudo -u iot /usr/bin/docker-compose -f ${COMPOSE_FILE} up
ExecStop = /usr/bin/sudo -u iot /usr/bin/docker-compose -f ${COMPOSE_FILE} down
Restart=always
Type = simple

[Install]
WantedBy = multi-user.target
